* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(46, 43, 43);
    font-family: "Poppins";
    font-weight: lighter;
}

.login_title {
    display: flex;
    height: 40vh;
    align-items: center;
    font-size: x-large;
    font-weight: lighter;
    justify-content: flex-start;
    animation: fadeIn 1s;
    margin: auto;
    width: 80%;
    color: rgb(216, 82, 29);
    background: radial-gradient( rgb(216, 82, 29) 2%, rgb(46, 43, 43) 60%);
    justify-content: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.mesaj {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    font-size: 7vh;
}

.mesaj p {
    font-family: 'Gloria Hallelujah', cursive;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

.mesaj img {
    width: 30vh;
    height: 30vh;
    align-self: center;
}

.login_title h1 {
    font-family: 'Rock Salt', cursive;
    letter-spacing: 10px;
    background-color: transparent;
    color: rgb(46, 43, 43);
}

.poza2 {
    height: 10vh;
    background: transparent;
}

@media screen and (max-width:768px) {
    .login_title h1 {
        font-size: 3vh;
        color: rgb(31, 29, 29);
        font-weight: bold;
    }
}