.form-popup {
    display: none;
    position: fixed;
    z-index: 9;
    bottom: 50%;
    right: 50%;
}

.form-container {
    max-width: 300px;
    position:fixed;
    min-width: 200px;
    padding: 10px;
    background-color: white;
    margin-top: 3vh;
    width: 30vw;
    border-top: 0;
    border: 0.25vw solid #000000;
}

#hiddenFormHeader {
    border: 0.25vw solid #000000;
    border-bottom: 0;
    cursor: move;
    z-index: 9;
    width: 30vw;
    text-align: center;
    display: flex;
    align-items: stretch;
    position: fixed;
    background-color: #2196F3;
    color: #fff;
}